<!doctype html>
<title>Gallery</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>

<table border=0>
<tr>


{% for ar, aret in dates.iteritems() %}
	<dt>ar:{{ ar }}</dt>
	{% set monthiterator = 1 %}
	{% for manad, dagar in dates[ar].iteritems() %}
		<td>
		<table border=0>
 		<tr>
		{{ manad }}<br>
		{% set dayiterator = 1 %}
		<td align=right>M</td>
		<td align=right>T</td>
		<td align=right>O</td>
		<td align=right>T</td>
		<td align=right>F</td>
		<td align=right>L</td>
		<td align=right>S</td>
		</tr><tr>
		{% for bilder in dates[ar][manad].iteritems() %}		
			<td align=right>
				{% if bilder.1.1 %}
					<a href={{ url_for('get_date') }}?year={{ar}}&month={{manad}}&day={{bilder.1.0}}>{{ bilder.1.0 }}</a>
				{% else %}
					{{ bilder.1.0 }}
				{% endif %}
			</td>
			{% if dayiterator is divisibleby 7 %}
				</tr><tr>
			{% endif %}
			{% set dayiterator = dayiterator + 1 %}
		{% endfor %}

		</tr>
		</table>
		</td>
		{% if monthiterator is divisibleby 3 %}
			</tr><tr>
		{% endif %}
		{% set monthiterator = monthiterator + 1 %}
	{% endfor %}
{% endfor %}
</tr>
</table>


</div>
{% block body %}{% endblock %}